body{
    display:flex;
    flex-direction:column;
    margin:0;
}
.header{
    display:flex;
    justify-content: space-between;
}
ul{
    display:flex;
    padding:0px;
    margin:0px;
}
li{
    list-style:none;
}
.hero{
    display:flex;
}
.info-content{
    display:flex;
    flex-direction:column;    
}
.info-pics{
    display:flex;
    align-items:center; ;
}
.info-pics img{
    width:175px;
    height:auto;
}
.quote{
    display:flex;
}
.quote-content{
    display:flex;
}
.cta{
    display:flex;
}
.footer{
    display:flex;
    justify-content:center;
    align-items:center;
}