body{
    margin:0px;
}
.container{
    background:#291951;
    position: relative;	
    box-shadow: inset -20px 10px 181px -30px #2A0001;
}
.page-width{
    padding:20px 200px;
}
#div-one{
    padding-top:10px; 
    padding-bottom:10px; 
    background:black;
}
#div-two{
    padding-bottom:20px;
    padding-bottom:30px;
}
.header {
    display:flex;
    justify-content:space-between;
}
.site-logo,
.center-logo{
    display:flex;
}
.site-logo img,
.center-logo img{
    height:30px;
    width:auto;
}
.header-links{
    display:flex;
    align-items:center;
    gap:20px;
    padding:0 10px;
}
.header-links:last-child{
    padding:0px;
}
.link{
    color:#b6b3b3;
    font-family: 'Raleway', sans-serif;
}
.hero{
    display:flex;
    justify-content:space-between;
    overflow:hidden;
    gap:20px;
}
.hero-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;
}

.hero-text{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color:#ECD2EA;
    
}
.hero-subtitle{
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    color:#ded7d7;
}
.adjust-line-height{
    line-height:1em;
}

.hero-image{    
    display:flex;
    align-self:center;
    justify-content:flex-end;    
    flex:1 1 auto;    
}
.hero-image img{
    width:500px;
    height:auto;
}
.info{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.info-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-wrap:wrap;

}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:#000000;
}
.info-pics{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.member p{
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
}
.member img{
    height:150px;
    width:auto;
    position: relative;	
    box-shadow: 0px 10px 81px 7px #DEE0E0;
}
#div-three{
    box-shadow:none;
    background:#ECD2EA;
    padding:20px 0px;
}
.quote{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.quote-text p{
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
  
    font-size:16px;
    text-align:center;
}
.quote-author{
    font-family: 'Nunito Sans', sans-serif;
    font-style:italic;
    font-weight:bold;
    font-size:16px;
    text-align:center;
}
#div-four{
    margin:20px;
}
.cta{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #291951;
    border-radius:5px;
    padding:20px 100px;
    flex-wrap:wrap;
}
.cta-text{
    padding-right:50px;
}
.cta-text p{
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
#cta-main{    
    font-weight:bold;
}
#cta-subtitle{
    color:#c0bbbb;
}
button{
    margin-right: 40px;
    height: 30px;
    width: 96px;
    border-radius: 13px;
    border: white;
    font-weight:bold;
}
.cta button{
    padding:0 10px;
}

.footer{
    text-align:center;
    margin:auto;
    background:black;
    padding:10px 0px;
    color:white;
    font-size:13px;
}